<% @tasks.each do |task| %>
  <div class="">
    <h2>
      <%= link_to task.title, task %><br>
      <small class="author">Submitted <%= time_ago_in_words(task.created_at) %> ago by <%= task.user.email %></small>
    </h2>
  </div>
<% end %>
